[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "/Users/landerwells/.config/dotfiles/tmux/plugins/tmux-yank"]
	path = /Users/landerwells/.config/dotfiles/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/plugins/minimal-tmux-status"]
	path = tmux/plugins/minimal-tmux-status
	url = https://github.com/niksingh710/minimal-tmux-status.git
