[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "/Users/landerwells/.config/dotfiles/tmux/plugins/tpm"]
	path = /Users/landerwells/.config/dotfiles/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "/Users/landerwells/.config/dotfiles/tmux/plugins/tmux-yank"]
	path = /Users/landerwells/.config/dotfiles/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
